<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings SQLite -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.driver_class">org.sqlite.JDBC</property>
		<property name="connection.url">jdbc:sqlite:D:\\Usuarios\\Magarami\\eclipse-workspace\\ArquitecturaJava\\BBDD\\arquitecturajava.db</property>
		
		<!-- Database connection settings HypersonicDatabase
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:mem:db1;DB_CLOSE_DELAY=-1;MVCC=TRUE</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>
        -->

		<!-- Log -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<!--property name="use_sql_comments">true</property-->

		<!-- Pool (Para sqlite) -->
		<property name="connection.pool_size">1</property>

		<!-- autocommit <property name="hibernate.connection.autocommit">true</property> -->

		<!-- update: update the schema on startup -->
		<property name="hbm2ddl.auto">update</property>
		

		<!-- Mapping Fichero configuracion
		<mapping resource="com/arquitecturajava/Libro.xml" />
		-->
		
		<mapping class="com.arquitecturajava.negocio.bean.Libro" />
		<mapping class="com.arquitecturajava.negocio.bean.Categoria" />
		
		


	</session-factory>
</hibernate-configuration>